@{
    ViewData["Title"] = "Home Page";
}



<div class="home-modern-container">
    <div class="home-modern-card">
    <img src="/img/logo.ald.png" alt="Logo ALD Controls" class="home-modern-logo" />
        <h1 class="home-modern-title">Bem-vindo à ALD Controls</h1>
        <p class="home-modern-text">
            A <strong>ALD Controls</strong> é referência em soluções inovadoras para automação e controle industrial. Criamos este site para facilitar o gerenciamento de colaboradores, EPIs e registros, promovendo segurança, organização e eficiência.<br><br>
            Nosso objetivo é oferecer uma experiência confiável e intuitiva para nossos clientes e parceiros. Explore nossos recursos e conheça mais sobre nosso compromisso com a excelência!
        </p>
    </div>
</div>
