@{
    ViewData["Title"] = "Sobre";
}
<h2>Sobre a Empresa</h2>
<p>
    Bem-vindo à ALD CONTROLS! Somos uma empresa dedicada à gestão eficiente de EPIs e colaboradores, promovendo segurança e organização no ambiente de trabalho.
</p>
<h3>Sobre o Site</h3>
<p>
    O objetivo do nosso site é facilitar o controle de tarefas, registros de EPIs e o acompanhamento do desempenho dos colaboradores através de um ranking. Queremos tornar a gestão mais transparente, motivadora e solucionável para empresas que buscam inovação e praticidade.
</p>
<p>
    Aqui você encontra ferramentas para cadastro, controle e visualização de dados, tudo pensado para melhorar a rotina e a segurança dos colaboradores.
</p>
